@model InsideAirbnb.ViewModels.NeighbourhoodsViewModel
@{
    ViewBag.Title = "Neighbourhoods";
}
<div>
    <div class="page-header">
        <h1>Register</h1>
    </div>

    <div class="col-sm-6">
        @Model.Id
    </div>
</div>
